@charset "utf-8";

/* 版心，内容有效区 */
.container{
    width: 1190px;
    margin: 0 auto;
}
/* 定部 */
.topbg{
    background-color: #f7f7f7;
}
.topnav{
    height: 36px;
    line-height: 36px;
}
.topnav .container > .ulleft >li{
    float:left;
    padding-right: 20px;
}
.topnav .container > .ulright >li{
    float:right;
    padding-right: 12px; 
}
.topnav .container> .ulleft> li>a,
.topnav .container> .ulright> li>a{
    color: #666666;
    font-size: 12px;
}
.leftnav a{
    padding: 0 8px 0 12px;
}
/* 头部 */
.headerbg{
    background-color: #fff;
}
.headernav .container .imgu{
    padding: 35px 0;
}
.headernav .container .search{
    margin: 30px 0 0 160px;
}
.headernav .container .search .input{
    width: 540px;
    height: 40px;
    border: 2px solid #f36b11;
}

/* .headernav .container .search .headerlist>ul{
   margin: 15px 0;
} */
.headernav .container .search .headerlist>li{
    float: left;
    padding: 14px 0;
}
.headernav .container .search .headerlist>li>a{
    color: #9f9f9f;
    font-size: 12px/1 "宋体";
    padding-right: 10px;
}
.headernav .container .search .headerlist>li>span{
    color: #9f9f9f;
    padding-right: 12px;
}
.classificationnav .container > h3{
    width: 187px;
    height: 40px;
    color: #fff7f5;
    font:16px/40px "微软雅黑";
    text-align: center;
    background-color: #ff6501;
    float: left;
}
.classificationnav .container .rightnav > li {
    float: left;
    padding-left: 33px;
}
.classificationnav .container .rightnav > li > a{
    font: 16px/40px "微软雅黑";
    color:#333333;
}
.classificationnav .container .rightnav > li > a:hover{
    color:#F36B10;
}
.classificationnav .container .sidenav{
    width: 187px;
    height: 462px;
    background-color:rgba(0,0,0,0.7);
    padding-top: 20px;
    position: absolute;
    z-index: 1;
} 
.classificationnav .container .sidenav>li{
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}
.classificationnav .container .sidenav>li:hover{
   background-color: #ffffff;
}
.classificationnav .container .sidenav>li>a{
    color: #ffffff;
    font-size: 13px;
}
.classificationnav .container .sidenav>li>a:hover{
    color: #ff6600;
}
.classificationnav .container .sidenav>li>span{
    color:#efefef;
    font-size:13px;
    padding: 0 6px 0 6px;
}

/* banner轮播广告图 */
.bannerbg{
    background-color:#F53E52;
}
.main .container .banner{
    position: relative; 
}

.main .container .banner .leftbtn{
    width: 30px;
    height:73px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left:187px; 
    top:210px;
    z-index: 10;
}
.main .container .banner .rightbtn{
    width: 30px;
    height:73px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    right:0; 
    top:210px;
    z-index: 10;
}