@charset "utf-8";

/* 版心，内容有效区 */
.container{
    width: 1190px;
    margin: 0 auto;
}
/* 顶部 */
.topbg{
    background-color: #f7f7f7;
    min-width: 1190px;
}
.topnav{
    height: 36px;
    line-height: 36px;
}
.topnav .container > .ulleft >li{
    float:left;
    padding-right: 20px;
}
.topnav .container > .ulright >li{
    float:right;
    padding-right: 12px; 
}
.topnav .container> .ulleft> li>a,
.topnav .container> .ulright> li>a{
    color: #666666;
    font-size: 12px;
}
.topnav .container> .ulleft> li> i,
.topnav .container> .ulright> li> i
{
    vertical-align: middle;
    color: #ceccd6;
}  
.topnav .container> .ulleft> li> em,
.topnav .container> .ulright> li> em{
    vertical-align: middle;
    color: #ef6b18;
} 

/* 头部 */
.headerbg{
    background-color: #fff;
    min-width: 1190px;
}
.headernav .container{
    /* border: 1px solid #ff6600; */
    /* 父子关系高度塌陷 */
    overflow: hidden;
}
.headernav .container .imgu{
    padding: 35px 0;
}
.headernav .container .search{
    margin: 30px 0 0 160px;
}
.headernav .container .search .input{
    width: 540px;
    height: 40px;
    line-height: 40px;
    display: flex;
    border: 2px solid #f36b11;  
}
.headernav .container .search .input > em{
    vertical-align: middle;
    font-size: 25px;
    padding-left: 10px;
    color: #f7985a;
}
.headernav .container .search .input > input{
    float: left;
    flex: 4;
    height: 40px;
    border-style:none;
    outline: none;
    /* border: 2px solid #f36b11;  */
    box-sizing: border-box;
    padding-left: 10px;

}
.headernav .container .search .input > button{
    float : right;
    flex:1;
    height:40px;
    background-color: #ff6501;
    color:#ffdfd4;
    border-style: none;
    outline: none;
} 

.headernav .container .search .input > button > a{
    font-size: 18px;
    color: #ffdfd4;
}

.headernav .container .search .headerlist>li{
    float: left;
    padding: 14px 0;
}
.headernav .container .search .headerlist>li>a{
    color: #9f9f9f;
    font-size: 12px/1 "宋体";
    padding-right: 10px;
}
.headernav .container .search .headerlist>li>span{
    color: #9f9f9f;
    padding-right: 12px;
}
.classificationnav .container > h3{
    width: 187px;
    height: 40px;
    color: #fff7f5;
    font:16px/40px "微软雅黑";
    /* text-align: center; */
    background-color: #ff6501;
    float: left;
}
.classificationnav .container > h3 > em{
    font-size: 25px;
    vertical-align: middle;
    margin-left: 15px;
}
.classificationnav .container .rightnav > li {
    float: left;
    padding-left: 33px;
}
.classificationnav .container .rightnav > li > a{
    font: 16px/40px "微软雅黑";
    color:#333333;
}
.classificationnav .container .rightnav > li > a:hover{
    color:#F36B10;
}
.classificationnav .container .sidenav{
    width: 187px;
    height: 462px;
    background-color:rgba(0,0,0,0.7);
    padding-top: 20px;
    position: absolute;
    z-index: 1;
} 
.classificationnav .container .sidenav>li{
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}
.classificationnav .container .sidenav>li:hover{
   background-color: #ffffff;
}
.classificationnav .container .sidenav>li>a{
    color: #ffffff;
    font-size: 13px;
}
.classificationnav .container .sidenav>li>a:hover{
    color: #ff6600;
}
.classificationnav .container .sidenav>li>span{
    color:#efefef;
    font-size:13px;
    padding: 0 6px 0 6px;
}

/* banner轮播广告图 */
.bannerbg{
    background-color:#E86800;
    min-width: 1190px;
}
.main .container .banner{
    position: relative; 
}

.main .container .banner .leftbtn{
    width: 30px;
    height:73px;
    line-height: 73px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left:187px; 
    top:210px;
    z-index: 10;
}
.main .container .banner .rightbtn{
    width: 30px;
    height:73px;
    line-height: 73px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    right:0; 
    top:210px;
    z-index: 10;
}
.main .container .banner .leftbtn > em,
.main .container .banner .rightbtn > em{
    vertical-align: middle; 
    /* margin-left: 6px; */
    font-size: 20px;
    color: #fffffe;
}
.listbg{
    background-color: #f2f2f2;
    min-width: 1190px;
}
.list .container .limitedtime{
    width: 790px;
    height: 345px;
    background-color: #ffffff;
    margin-top: 25px; 
}
.list .container .limitedtime .timeline{
    padding-bottom: 7px; 
    border-bottom: 1px solid #ececec;
    margin: 0 20px;
}
.list .container{
    overflow: hidden;
}

.list .container .limitedtime .timeline .img{
    margin: 8px 0 0 0;
}
.list .container .limitedtime .timeline .time>em{
    font:12px/1 "微软雅黑";
    color: #959595;
    float:left;
    padding: 20px 9px 0 7px;
    
}

.list .container .limitedtime .timeline .time > .daojishi{
    /* display: inline-block; */
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    width: 154px;
    height: 33px;
    line-height: 33px; 
    background-position: -451px -295px;
    float: left; 
    margin:10px 10px 0 9px; 
    /* text-align: center; */
}
.list .container .limitedtime .timeline .time > .daojishi > b{
    color: #ffffff;
    font-size: 28px;
}
/* .list .container .limitedtime .timeline .time > ul >li{
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #323232;
  border-radius: 3px;
  float: left;
  margin:10px 10px 0 9px;
}
.list .container .limitedtime .timeline .time > ul >li > strong{
    color: #ffffff;  
    font-size: 17px;
  } */
.list .container .limitedtime > .timeline> p{
   font: 14px/24px "微软雅黑";
   color: #060005; 
   margin:15px 33px 0 0;
}
.list .container .limitedtime .timeline .firstavenue{
    width:136px;
    height: 25px;
    text-align: center;
    color: #ffeeea;
    font:14px/25px "微软雅黑";
    /* background-color: #ff480f;
    border-radius: 12px; */
    margin:15px 30px 0 0;
    /* Sprite Images */
    display: inline-block;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    background-position: -560px 0;
}
.list .container .limitedtime .listitem{
    /* margin: 10px 0 0 20px; */
    margin-left:10px;
    /* padding-bottom: 25px; */
}
.list .container .limitedtime .listitem ul  li{
    float: left;
    margin:10px 15px 0 0;
    
}
.list .container .limitedtime .listitem ul > li > a > img{
    width: 170px;
    height: 195px;
    /* border: 1px solid #f36b11; */
    
}
.list .container .limitedtime .listitem > ul > li > p{
    font:14px/1 "微软雅黑";
    color:#33342f;
    text-indent: 8px;
    padding:10px 0;
}
.list .container .limitedtime .listitem > ul > li > strong{
   font:20px/20px "微软雅黑";
   text-indent: 8px; 
   color:#ff6109;
   font-weight: bold;
}
.list .container .limitedtime .listitem > ul > li >span,
.list .container .limitedtime .listitem > ul > li > del,
.list .container .limitedtime .listitem > ul > li >.progress>span{
    font:14px/20px "微软雅黑";
    color: #b6b6b6;
}
.list .container .dajuhui{
    width: 390px;
    height: 345px;
    /* border: 1px solid palevioletred; */
    background-color: #ffffff;
    margin: 25px 0 0 9px;
}
.list .container .dajuhui > h1{
    font:26px/1 "微软雅黑";
    font-weight: bold;
    padding:12px 0 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid #ececec;
}
.list .container .dajuhui > h1 > a{
    font:14px/1 "微软雅黑";
    color: #b9bbc0;
    padding-left: 210px;
}
.list .container .dajuhui > h1 > a>i{
    vertical-align: middle;
}
.list .container .dajuhui .imgbg{
    position: relative;
}
.list .container .dajuhui .imgbg > img{
    width: 355px;
    height: 178px;
    margin: 17px 20px 8px 20px;  
}
.list .container .dajuhui .imgbg > .napkin{
    width: 162px;
    height: 101px;
    /* line-height: 101px; */
    text-align: center;
    background-color: #ef6b18;
    border-radius:10px 25px;
    position: absolute;
    left:40px;
    top:56px;
    background-color: #ffffff;

}
.list .container .dajuhui .imgbg > .napkin > h2{
    font: 23px/30px "微软雅黑";
}
.list .container .dajuhui .imgbg > .napkin > strong{
    font-size: 14px;
}
.list .container .dajuhui .imgbg > .napkin > strong > em{
    color: #fd4d52;
}

.list .container .dajuhui .phone > ul > li{
    width: 106px;
    height: 74px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 8px 0 0 14px;
    float: left;
}
.list .container .dajuhui .phone > ul > .huawei{
    width: 106px;
    height: 74px;
    border: 1px solid #ececec;
    text-align: center;
    margin: 8px 0 0 20px;
}
.list .container .dajuhui .phone > ul > li >a> p{
    font:14px/23px "微软雅黑";
    color: #333333;
}
.list .container .rank{
    width: 390px;
    height: 430px;
    background-color:#ffffff;
    margin: 20px 9px 0 0;
}
.list .container .rank > h3{
    padding:15px 0 13px 20px;
    background-color: #fdf6f6;
    font: bold 18px/1 "微软雅黑";
    color: #db5757;
    position: relative;
}
.list .container .rank > h3 > em{
    display: block;
    width: 7px;
    height: 21px;
    background-color: #db5757;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10.5px;
 }
.list .container .rank > h3 > a{
   font: normal 14px/1 "微软雅黑";
   padding-left: 245px;
   color: #84848b;
}
.list .container .rank > h3 > a > i{
    vertical-align: middle;
 }
 .list .container .rank .ranknav{
     margin: 0 20px;
     border-bottom: 1px solid #f2f2f2;
     
 }
 .list .container .rank .ranknav ul > li{
     width: 50px;
     height: 24px;
     line-height: 24px;
     /* background-color: yellow; */
     float: left;
     text-align: center;
     margin: 7px 30px 7px 0;
     border-radius: 12px;
 }
 .list .container .rank .ranknav ul > li:hover{
     background-color: #db5757;
 }
 .list .container .rank .ranknav ul > li > a{
     color: #372e41;
     font: 12px/1 "微软雅黑";
 }
 .list .container .rank .ranknav ul > li > a:hover{
     color: #ffffff;
 }
 .list .container .rank .ranklist{
     /* border: 1px solid aqua; */
     position: relative;
 }
 .list .container .rank .ranklist .img{
     margin: 20px 10px 0 20px;
 }
 .list .container .rank .ranklist .img > a > img{
     width:100px;
     height: 91px;
 }
 .list .container .rank .ranklist .imgdesc >a{
     color:#494949;
     font:14px/20px "微软雅黑";
     display: block;
     padding:30px 30px 18px 0;
 }
 .list .container .rank .ranklist .imgdesc > strong{
    font: 14px/1 "微软雅黑";
    color:#DF8F82
 }
 .list .container .rank .ranklist .salebar{
     width:129px;
     height: 20px;
     /* line-height: 20px; */
     background-color: #FCE3DE;
     border-radius: 10px;
     position: absolute;
     right:20px;
     bottom:10px;
     text-align:center;
     font:14px/20px "微软雅黑";
     color:#E1808F;
 }

.list .container .popular{
    width: 791px;
    height: 430px;
    background-color: #ffffff;
    margin: 20px 0 0 0;
    
}
.list .container .popular > h3{
    font:bold 18px/1 "微软雅黑";
    color: #1c95e6;
    padding: 15px 0 13px 20px;
    background-color: #f8faf9;
    position: relative;
}
.list .container .popular > h3 > em{
    display: inline-block;
    width: 7px;
    height: 21px;
    background-color: #1c95e6;
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -10.5px;
}
.list .container .popular .hotlist .hotlistitem{
    width: 187px;
    height: 180px;
    text-align: center;
    /* border: 1px solid #f5f5f5; */
    border-bottom:1px solid #f5f5f5;
    border-right:1px solid #f5f5f5;
    padding: 14px 0 0 0;
}
.list .container .popular .hotlist .hotlistright{
    border-right-style: none;
}
.list .container .popular .hotlist .hotlistbottom{
    border-bottom-style: none;
}
.list .container .popular .hotlist .hotlistitem > a > img{
    width: 110px;
    height: 110px;
}
.list .container .popular .hotlist .hotlistitem > a > p{
    font:14px/24px "微软雅黑";
    color: #181820;
    padding-top:10px;
    
}
.list .container .popular .hotlist .hotlistitem .good > em{
    display: inline-block;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    
    width: 14px;
    height: 14px;
    background-position: -730px -115px;
}
.list .container .popular .hotlist .hotlistitem .good{
    font:14px/1 "微软雅黑";
    color: #1a97e7;
}
.list .container .imagerow{
    width: 100%;
    height: 100px;
    /* background-color: #1a97e7; */
    margin-top: 18px;
}
.list .container .imagerow > a> img{
    width: 396px;
    height: 100px;
    margin-left: -4px;
}

.list .container .findgoods{
    width: 190px;
    height: 260px;
    background: url("../images/find01.png") no-repeat 0 0;
    margin: 20px 10px 0 0;
    position: relative;
}
.list .container .findgoods a > .goodsbox{
    width: 162px;
    height: 91px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
    /* background: url("../images/find02.png") no-repeat 15px 15px; */
}
.list .container .findgoods a > .goodsdesc{
    z-index: 2;
    color: #ffffff;
    font-size: 18px/1 "微软雅黑";
    position: absolute;
    left: 35px;
    top: 70px;
}
.list .container .findgoods a > .goodsdesc > i{
    vertical-align: middle;
}

.list .container .findlist{
    width: 986px;
    height: 260px;
    background-color: #ffffff;
    margin-top: 20px;
}
.list .container .findlist > ul{
    margin-left: 10px;
}
.list .container .findlist > ul >li{
    width: 190px;
    height: 165px;
    border-right: 1px solid #f2f2f2;
    margin-top: 48px;
    text-align: center;
    float: left;
}  
.list .container .findlist > ul > .cosmetics{
    border-style: none;
}
.list .container .findlist ul > li > a > h3{
    font:14px/1 "微软雅黑";
    color: #36353b;
    padding:15px 0;
}
.list .container .findlist ul > li > a > img{
    width: 120px;
    height: 120px;
}




